<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
    <script src="https://unpkg.com/vue-router@4"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="vue.global.js"></script>
    <!-- <link rel="stylesheet" type="text/js" href="js/home.js" />
    <link rel="stylesheet" type="text/js" href="js/winkelwagen.js" /> -->
    <script src="js/home.js"></script>
    <script src="js/winkelwagen.js"></script>
    <title>Webwinkel</title>
</head>

<body>
    <div id="app">
        <header id="main-header">
            <h1>{{titel}}</h1>
            <h5>{{subtitel}}</h5>
            <div id="winkelwagenBox">
                <transition name="winkelwagen">
                    <p v-if="showWinkelwagen" id="winkelwagen">Items in <a href="winkelwagen.html">winkelwagen</a>:
                        {{aantalInWinkelwagen}}</p>
                </transition>
                <nav>
                    <router-link class="router-link" to="/">Home</router-link>
                    <router-link class="router-link" to="/winkelwagen">Winkelwagen</router-link>
                </nav>
                
            </div>
        </header>
        <transition name="cookieTransition">
            <section id="cookies" v-if="showCookieMelding">
                <p>Deze site maakt gebruik van cookies. Door de site verder te gebruiken stem je toe met het gebruik
                    van deze cookies.</p>
                <label><input type="checkbox" v-on:change="check()">Deze melding niet meer tonen.</label>
            </section>
        </transition>
        <router-view></router-view>
    </div>

    <script type="text/x-template" id="homeTemplate">
        <section id="inhoud">
            <h4>Nieuwe items</h4>
            <section id="nieuwe-items">
                <div class="item" v-for='(item,index) in items' :key="item.id">
                    <div class="item-img">
                        <img v-bind:src="pathSmall +item.src" v-on:click="toonGroteFoto(item.src)">
                    </div>
                    <div class="item-body">
                        <div class="prijs">{{item.prijs}}€</div>
                        <h4>{{item.naam}}</h4>
                        <p>{{item.omschrijving}}</p>
                        <transition name="knopTransition" appear>
                            <div>
                                <a href="#" class="knop" v-on:click.prevent="VoegToeAanWinkelwagen(index)">BESTEL</a>

                            </div>
                        </transition>
                        <transition name="besteldTransition">
                            <p class="besteld" v-if="item.besteld>0 && showBesteld[index]">Besteld: {{item.besteld}}</p>
                        </transition>
                    </div>
                </div>
            </section>
        </section>
    </script>
    </div>
    <script type="text/javascript">
        const home = {
            template: '<div>Home</div>'
        }
        const winkelwagen = {
            template: '<div>Winkelwagen</div>'
        }
        const router = new VueRouter.createRouter({
            history: VueRouter.createWebHashHistory(),
            routes: [
            { path: '/', name: "Home", component: home },
            { path: '/winkelwagen', name: "winkelwagen", component: winkelwagen },
            ]
        })
        const app = {
                data() {
                    return {
                    
                    }
                }, 
        }

        const app = {
            data: function () {
                return {
                    titel: "Superhero store",
                    subtitel: "Your break from the office life!",
                    pathSmall: "images/small/",
                    pathBig: "images/big/",
                    showCookieMelding: false,
                    items: [{
                        id: 1,
                        naam: "hondenpak superman",
                        omschrijving: "Neem je hond mee als sidekick op al je avonturen!",
                        prijs: 29.99,
                        src: "elias-castillo-7-ToFEHzMNw-unsplash.jpg",
                        besteld: 0
                    },
                    {
                        id: 2,
                        naam: "Wonder Woman",
                        omschrijving: "Laat de kleine meid tonen hoe speciaal ze is!",
                        prijs: 34.99,
                        src: "gabriela-braga-CVEWeDNsJP4-unsplash.jpg",
                        besteld: 0
                    },
                    {
                        id: 3,
                        naam: "Spiderman masker",
                        omschrijving: "Je wil niet altijd dat je herkent wordt voor je goede daden!",
                        prijs: 14.99,
                        src: "joey-nicotra-0EI_4R2r0qg-unsplash.jpg",
                        besteld: 0
                    }
                    ],
                    // winkelwagen: [],
                    aantalInWinkelwagen: 0,
                    showWinkelwagen: true,
                    // showBesteld: []
                }
            },
            methods: {
                // toonGroteFoto: function (src) {
                //     window.open(this.pathBig + src);
                // },
                check: function () {
                    this.showCookieMelding = false;
                    localStorage.setItem("showCookieMelding", false);
                },
                saveLocalStorageWinkelwagen: function () {
                    let temp = this.items.filter((item) => item.besteld !== 0);
                    localStorage.setItem("winkelwagen", JSON.stringify(temp));
                },
                // VoegToeAanWinkelwagen: function (index) {
                //     this.showWinkelwagen = false;
                //     this.showBesteld[index] = false;

                //     this.items[index].besteld++;
                //     this.aantalInWinkelwagen++;

                //     this.saveLocalStorageWinkelwagen();

                //     setTimeout(function (scope) {
                //         scope.showWinkelwagen = true;
                //         scope.showBesteld[index] = true;
                //     }, 500, this);
                }

            },

            mounted() {
                // if (localStorage.getItem("winkelwagen")) {
                //     tempLS = JSON.parse(localStorage.getItem("winkelwagen"));

                //     tempLS.forEach((itemLS) => {
                //         this.items.forEach((dataItem, index) => {
                //             if (itemLS.id == dataItem.id) {
                //                 dataItem.besteld = itemLS.besteld;
                //                 this.aantalInWinkelwagen += itemLS.besteld;
                //                 this.showBesteld[index] = true
                //             }
                //         })
                //     })

                // }
                if (localStorage.getItem("showCookieMelding")) {
                    this.showCookieMelding = JSON.parse(localStorage.getItem("showCookieMelding"))
                }
                else {
                    this.showCookieMelding = true
                }
            }
        }



        Vue.createApp(app).use(router).mount('#app')
    </script>
</body>

</html>