<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css">
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/vue-router@4"></script>
    <title>Webwinkel</title>

    </head>
    <body>
        <div id="app">
            <header id="main-header">
            <h1>{{titel}}</h1>
            <h5>{{subtitel}}</h5>
            <div id="winkelwagenBox">
                <transition name="winkelwagen">
                <p v-if="showWinkelwagen" id="winkelwagen">
                    Items in <a href="winkelwagen.html">winkelwagen: </a> {{aantalInWinkelwagen}}
                </p>
                </transition>
            </div>
            <nav>
                <router-link class="router-link" to="/">Home</router-link>
                <router-link class="router-link" to="/winkelwagen">
                Winkelwagen
                </router-link>
            </nav>
            </header>
            <transition name="cookieTransition">
            <section id="cookies" v-if="showCookieMelding">
                <p>
                Deze site maakt gebruik van cookies. Door de site verder te gebruiken stem je toe met het gebruik van deze cookies.
                </p>
                <label>
                <input type="checkbox" v-on:change="check()" />
                Deze melding niet meer tonen.
                </label>
            </section>
            </transition>
            <router-view></router-view>
        </div>

        <script type="text/x-template" id="homeTemplate">
            <section id="inhoud">
                <h4>Nieuwe items</h4>
                <section id="nieuwe-items">
                    <div class="item" v-for='(item,index) in items' :key="item.id">
                        <div class="item-img">
                            <img v-bind:src="pathSmall +item.src" v-on:click="toonGroteFoto(item.src)">
                        </div>
                        <div class="item-body">
                            <div class="prijs">{{item.prijs}}€</div>
                            <h4>{{item.naam}}</h4>
                            <p>{{item.omschrijving}}</p>
                            <transition name="knopTransition" appear>
                                <div>
                                    <a href="#" class="knop" v-on:click.prevent="VoegToeAanWinkelwagen(index)">BESTEL</a>
                                </div>
                            </transition>
                            <transition name="besteldTransition">
                                <p class="besteld" v-if="item.besteld>0 && showBesteld[index]">Besteld: {{item.besteld}}</p>
                            </transition>
                        </div>
                    </div>
                </section>
            </section>
        </script>

        <script type="text/x-template" id="winkelwagenTemplate">
            <section id="inhoud">
                <h4>Gekozen items</h4>
                <section id="nieuwe-gekozenItems">
                    <transition name="itemTransition" tag="div">
                        <div v-if="items.length > 0">
                            <transition name="itemTransition" tag="div">
                                <div class="gekozenItem" v-for='(item,index) in items' :key='item.id'>
                                    <div class="gekozenItem-img">
                                        <img v-bind:src="pathSmall +item.src" v-on:click="toonGroteFoto(item.src)">
                                    </div>
                                    <div class="item-body">
                                        <div class="prijs">
                                            {{parseFloat(item.prijs * item.besteld).toFixed(2)}}€
                                        </div>
                                        <h4>{{item.naam}}</h4>
                                        <p>{{item.omschrijving}}</p>
                                        <input type="number" v-model="item.besteld" size="2"
                                            v-on:change="aantalAanpassing(index)">
                                        <a href="#" class="knop" v-on:click.prevent="verwijder(index)">verwijder</a>
                                    </div>
                                </div>
                            </transition>
                            <div>
                                <p class="totaal">Totaal: {{(totalePrijs).toFixed(2)}}</p>
                            </div>
                        </div>
                    </transition>
                    <div v-if="items.length == 0">
                        <p>Geen items</p>
                    </div>
                </section>
            </section>
        </script>

        <script src="home.js"></script>
        <script src="winkelwagen.js"></script>

        <script>
        const router = new VueRouter.createRouter({
            history: VueRouter.createWebHashHistory(),
            routes: [
                { path: '/', name: 'Home', component: home },
                { path: '/winkelwagen', name: 'Winkelwagen', component: winkelwagen },
            ],
        })
        const app = {
            data() {
                return {
                titel: 'Superhero store',
                subtitel: 'Your break from the office life!',
                showCookieMelding: true,
                aantalInWinkelwagen: 0,
                showWinkelwagen: false,
                }
            },
            methods: {
                check: function () {
                this.showCookieMelding = false
                localStorage.setItem('showCookieMelding', false)
                },
            },
        }

            Vue.createApp(app).use(router).mount('#app')
        </script>
    </body>
</html>
