<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/style.css">
        <script src="https://unpkg.com/vue@next"></script>
        <script src="https://unpkg.com/vue-router@4"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <title>Webshop</title>
    </head>
    

<body>
    <div id="app">
        <header id="main-header">
            <h1>
                <router-link to="/">{{titel}}</router-link>
            </h1>
            <h5>{{subtitel}}</h5>
            <div id="winkelwagenBox">
                <transition name="winkelwagen">
                    <p v-if="showWinkelwagen" id="winkelwagen">Items in <router-link to="/winkelwagen">Winkelwagen
                        </router-link>:
                        {{aantalInWinkelwagen}}</p>
                </transition>
            </div>
            <nav>
                <router-link class="router-link" to="/">Store</router-link>
                <router-link class="router-link" to="/winkelwagen">Winkelwagen</router-link>
                <router-link  class="router-link" to="/comment">Comments</router-link>
            </nav>
        </header>
        <cookiemelding-component /></cookiemelding-component>
        <router-view></router-view>
    </div>
    <script type="text/x-template" id="cookieMelding-template">
    <transition name="cookieTransition">
        <section id="cookies" v-if="showCookieMelding">
            <p>Deze site maakt gebruik van cookies. Door de site verder te gebruiken stem je toe met het gebruik van deze cookies.</p>
            <label><input type="checkbox" v-on:change="check()">Deze melding niet meer tonen.</label>
        </section>
    </transition>
    </script>

    <script type="text/x-template" id="homeTemplate">
        <div>
            <section id="inhoud">
                <h4>Nieuwe items</h4>
                <section id="nieuwe-items">
                    <div class="item" v-for='(item,index) in items' :key="item.id">
                        <item-component :item="item" :pathSmall="pathSmall" :showBesteld="showBesteld[index]" v-on:VoegToeAanWinkelwagen="VoegToeAanWinkelwagen(index)"></item-component>
                    </div>
                </section>
            </section >
        </div >
    </script>

    <script type="text/x-template" id="item-template">
    <div class="item-img">
        <img v-bind:src="pathSmall+item.src" v-on:click="toonGroteFoto(item.src)">
    </div>
    <div class="item-body">
        <div class="prijs">{{ item.prijs }}€</div>
        <h4>{{ item.naam }}</h4>
        <p>{{ item.omschrijving }}</p>
        <transition name="knopTransition" appear>
            <div>
                <a href="#" class="knop" v-on:click.prevent="$emit('VoegToeAanWinkelwagen')">BESTEL</a>
            </div>
        </transition>

        <transition name="besteldTransition">
            <p class="besteld" v-if="item.besteld>0 && showBesteld[index]">Besteld: {{item.besteld}}</p>
        </transition>
    </div>
    </script>

    <script type="text/x-template" id="winkelwagenTemplate">
        <div>
            <section id="inhoud">
                <h4>Gekozen items</h4>
                <section>
                    <transition name="itemTransition" tag="div">
                        <div v-if="items.length > 0">
                            <transition-group name="itemTransition" tag="div" mode="out-in">
                                <div class="winkelwagen-item" v-for='(item,index) in items' :key='item.id'>
                                    <div class="winkelwagen-item-img"><img v-bind:src="pathSmall +item.src"
                                            v-on:click="toonGroteFoto(item.src)">
                                    </div>
                                    <div class="item-body">
                                        <div class="prijs">{{(parseFloat(item.prijs) * parseFloat(item.besteld)).toFixed(2)}}€</div>
                                        <h4>{{item.naam}}</h4>
                                        <p>{{item.omschrijving}}</p>
                                        <input type="number" v-model="item.besteld" size="2" v-on:change="aantalAanpassing(index)">
                                        <a href="#" class="knop" v-on:click.prevent="verwijder(index)">verwijder</a>
                                    </div>
                                </div>
                            </transition-group>
                            <div>
                                <p class="totaal">Totaal: {{totalePrijs.toFixed(2)}}</p>
                            </div>
                        </div>
                    </transition>
                    <div v-if="items.length == 0">
                        <p>Geen items</p>
                    </div>
                </section>
            </section>
        </div>
    </script>

    <script type="text/x-template" id="commentTemplate">
        <div>
            <section id="inhoud">
                <h4>Comments</h4>
                <div>
                    <comment-profile v-for="username in usernames" :username="username"><comment-profile>
                    <h3>Comment {{ user.id }}</h3>
                    <p>Naam: {{user.name}}</p>
                    <p>Email: {{ user.email }} </p>
                    <p>Comment: {{ user.body }}</p>
                    <hr>
                </div>
            </section>
        </div>
    </script>

    <script src="home.js"></script>
    <script src="winkelwagen.js"></script>
    <script src="comment.js"></script>

    <script>
        const router = new VueRouter.createRouter({
            history: VueRouter.createWebHashHistory(),
            routes: [
                { path: '/', name: "Home", component: home },
                { path: '/winkelwagen', name: "Winkelwagen", component: winkelwagen },
                { path:'/comment', name:"Comments", component: comment }
            ]
        })

        const app = Vue.createApp({
            data: function () {
                return {
                    titel: "Superhero store",
                    subtitel: "Your break from the office life!",
                    showWinkelwagen: true,
                    aantalInWinkelwagen: 0
                }
            }
        })

        app.component('item-component', {
            data: function () {
                return {}
            },
            props: ['item', 'pathSmall', 'showBesteld'],
            template: '#item-template'
        })

        app.component('cookiemelding-component', {
            data: function () {
                return {
                    showCookieMelding: false
                }
            },
            methods: {
                check: function () {
                    this.showCookieMelding = false;
                    localStorage.setItem("showCookieMelding", false);
                }
            },
            template: '#cookieMelding-template',
            mounted: function () {
                if (localStorage.getItem("showCookieMelding")) {
                    this.showCookieMelding = JSON.parse(localStorage.getItem("showCookieMelding"))
                }
                else {
                    this.showCookieMelding = true
                }
            }
        })



        app.use(router).mount('#app')
    </script>
</body>

</html>
<!-- showbesteld en aantalinwinkelwagen kunnen doorgegeven worden als props maar die zijn read-only, dus deze manier is niet bruikbaar -->
<!-- 
    routes: [
                {
                    path: '/', name: "Home", component: home, props: {
                        showWinkelwagen: this.showWinkelwagen,
                        aantalInWinkelwagen: this.aantalInWinkelwagen
                    }
                },
                { path: '/winkelwagen', name: "Winkelwagen", component: winkelwagen }
            ]
 -->
<!-- en in home.js dan: props: ['showWinkelwagen', 'aantalInWinkelwagen'], -->