<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oefening commentaar components</title>
    <script src="https://unpkg.com/vue@next"></script>
    <style>
body{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
    </style>
</head>

<body>
    <div id="app">
        <img src="https://source.unsplash.com/user/erondu/800x600">
        <ul>
            <individualcomment v-for="comment in comments" v-bind:comment="comment" v-bind:key="comment.id" />
        </ul>
        <input v-model="newComment" v-on:keyup.enter="addComment" placeholder="Voeg je commentaar toe">
        </div>
        
        <script type="text/x-template" id="individualcommentTemplate">
            <li>
            <a v-bind:href="comment.userlink" target="_blank">{{comment.user}}</a>  - {{comment.msg}} </li>
        </script>
            

    <script>
    const app = Vue.createApp({
    data: function () {
        return {
            newComment: '',
            comments: [
                { id: 1, user: 'Jan', userlink: 'http://www.facebook.com', msg: 'Like!' },
                { id: 2, user: 'Piet', userlink: 'http://www.facebook.com', msg: 'I love this' },
                { id: 3, user: 'Mies', userlink: 'http://www.facebook.com', msg: 'Waar is dit genomen?' }
            ]
        }
    },
        methods: {
            addComment: function () {
                this.comments.push({ id: this.comments.length + 1, user: 'Vue', userlink: 'http://www.facebook.com', msg: this.newComment })
                this.newComment = '';
                console.log(this.comments)
            }
        }
    })
    app.component('individualcomment', {
        data: function () {
            return {}
        },
        props: ['comment'],
        template: '#individualcommentTemplate'
    })

    app.mount('#app')


    </script>
</body>
</html>